<strong>Olá, {{ provider }}</strong>
<p>Houve um cadastro de uma nova encomenda pra você, confira os detalhes abaixo:</p>
<p>
  <strong>produto: </strong> {{ product }} <br />
  <br />
  <small>
    Você pode fazer a retirada da encomenda entre às 08:00 e às 18:00
  </small>
</p>
